@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html.light {
  background-color: #ffffff; 
  color: #3a4f39;
}

html.dark {
  background-color: #1b1b1b; 
  color: #ffffff;
}

html {
  transition:
    background-color 0.3s,
    color 0.3s;
}
